a.list-group-item,a.btn,a.btn-default {
    background-color: #344257;
    color: #AFBACC;
    border: 0px;
    font-size: 18px;
}

a.list-group-item:hover{
    text-decoration:none;
    color:#AFBACC;
    background-color:#304967;
}

a.list-group-item:focus{
    text-decoration:none;
    color:#ffffff;
    background-color:#293445;
}
